@font-face {
    font-family: "LiHei Pro";
    src: url("ARIALN.eot"); /* IE9 */
    src: url("ARIALN.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ARIALN.woff") format("woff"), /* chrome, firefox */
    url("ARIALN.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("ARIALN.svg#LiHei Pro") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


