.show_icon {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 3px;
}
.event_icon {
  border: solid 1px transparent;
}
.event_icon:hover {
  background-color: #dedede;
  border: solid 1px #c3c3c3;
  border-radius: 2px;
}
.event_icon:active {
  background-color: #98a1a9;
  border: solid 1px #c3c3c3;
  border-radius: 2px;
}
.show_icon_position {
  float: left;
  padding: 6px 8px 0px 6px;
}
.team_icon {
  display: block;
  height: 21px;
  width: 32px;
}
.team_icon .show_icon {
  float: left;
}
.team_icon .fa-sort-desc {
  float: left;
  margin-top: 3px;
}
.split_line_vertical {
  width: 3px;
  height: 25px;
  margin-top: 5px;
  background: no-repeat url('../../common/img/split_line.png');
}
.setProperties {
  height: 65px;
  width: 100%;
  background: url('../../common/img/title_line.png');
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-5-bold {
  font-weight: bold;
}
.padding-left-right {
  padding: 0px 4px;
}
.show_icon_position .fa-circle {
  font-size: 8px;
  color: #58738a;
  margin-top: 4px;
}
.event,
.showSelect,
.event_icon,
.showSelectIcon:hover {
  cursor: pointer;
}
.eventConfigurationShow {
  display: block;
  float: left;
}
.transparent_border {
  border: transparent 1px solid;
}
.event_name {
  font-size: 12px;
  font-weight: bold;
  float: left;
  color: #58738a;
  margin-left: 1px;
  margin-top: -1px;
}
.input_40 {
  border: 1px solid #a7acb1;
  width: 40px;
  height: 20px;
  border-radius: 2px;
}
.input_400 {
  border: 1px solid #a7acb1;
  width: 400px;
  height: 20px;
  border-radius: 2px;
}
.input_60 {
  border: 1px solid #a7acb1;
  width: 60px;
  height: 20px;
  border-radius: 2px;
}
.input_70 {
  border: 1px solid #a7acb1;
  width: 70px;
  height: 20px;
  border-radius: 2px;
}
.input_80 {
  border: 1px solid #a7acb1;
  width: 80px;
  height: 20px;
  border-radius: 2px;
}
.input_90 {
  border: 1px solid #a7acb1;
  width: 90px;
  height: 20px;
  border-radius: 2px;
}
.input_110 {
  border: 1px solid #a7acb1;
  width: 110px;
  height: 20px;
  border-radius: 2px;
}
.input_120 {
  border: 1px solid #a7acb1;
  width: 90px;
  height: 20px;
  border-radius: 2px;
}
.input_200 {
  border: 1px solid #a7acb1;
  width: 200px;
  height: 20px;
  border-radius: 2px;
}
.input_260 {
  border: 1px solid #a7acb1;
  width: 245px;
  height: 20px;
  border-radius: 2px;
}
.input_30 {
  border: none;
  width: 30px;
  height: 20px;
}
.span_30 {
  border: none;
  width: 30px;
  height: 20px;
  float: left;
}
.span_lableName {
  border: none;
  width: 110px;
  height: 20px;
  float: left;
}
.span_filedName {
  border: none;
  width: 110px;
  height: 20px;
  float: left;
}
.span_40 {
  border: 1px solid #a7acb1;
  width: 42px;
  height: 20px;
  border-radius: 2px;
  display: block;
  float: left;
  overflow: hidden;
}
.a_up {
  height: 9px;
  width: 10px;
  float: left;
  border: none;
  cursor: pointer;
  background-color: #dbdfe1;
}
.a_up span {
  height: 10px;
  width: 10px;
  border: none;
  font-size: 10px;
  margin: 2px 0 0 2px;
  color: #2e2e2e;
  float: left;
}
.a_select_down {
  height: 18px;
  width: 10px;
  float: left;
  border: none;
  cursor: pointer;
  background-color: #dbdfe1;
}
.a_select_down span {
  height: 10px;
  width: 10px;
  border: none;
  margin: 4px 0 0 2px;
  font-size: 10px;
  color: #2e2e2e;
}
.select_open {
  display: block;
}
.select_colse {
  display: none;
}
.setProperties .showSelect,
#eventConfiguration .showSelect,
#linkageCalculation .showSelect,
#validateSetting .showSelect {
  z-index: 999;
  box-shadow: 2px 5px 12px #ddd;
  background-color: #fff;
  border: solid 1px #ccc;
  position: absolute;
  display: block;
  margin-top: 19px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.setProperties .showSelect li,
#eventConfiguration .showSelect li,
#linkageCalculation .showSelect li,
#validateSetting .showSelect li {
  display: block;
  padding: 1px 0 1px 5px;
}
#eventConfiguration ul,
.setProperties ul,
#linkageCalculation ul,
#validateSetting ul {
  margin: 0px;
  padding: 0px;
}
#eventConfiguration ul li,
.setProperties ul li,
#linkageCalculation ul li,
#validateSetting ul li {
  margin: 0px;
  padding: 0px;
}
.showSelectIcon {
  z-index: 999;
  box-shadow: 2px 5px 12px #ddd;
  background-color: #fff;
  border: solid 1px #cccccc;
  position: absolute;
  display: block;
  margin-top: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.showSelectIcon li {
  display: block;
  height: 33px;
}
.showSelectIcon .iconlable,
.showSelectIcon .selectlabel {
  display: block;
  float: left;
  padding: 5px 0 0 12px;
}
.showSelectIcon .selectlabel {
  margin-top: 2px;
}
.open_tab {
  display: block;
}
.colse_tab {
  display: none;
}
.table_tab_ctrl {
  display: none;
}
.showSelect li:hover {
  background-color: #ececec;
}
.showSelectIcon > li:hover {
  background-color: #ececec;
}
.pseudoSelected {
  background-color: #ececec;
}
.showSelect li:active {
  background-color: #e1e1e1;
}
.showSelectIcon > li:active {
  background-color: #e1e1e1;
}
.a_down {
  height: 9px;
  width: 10px;
  float: left;
  border: none;
  cursor: pointer;
  background-color: #dbdfe1;
}
.a_down span {
  height: 10px;
  width: 10px;
  border: none;
  margin: -2px 0 0 2px;
  font-size: 10px;
  color: #2e2e2e;
  float: left;
}
.span_label {
  margin-right: 2px;
  margin-top: 2px;
  float: left;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.float_none {
  float: none;
}
.a_hover:hover {
  background-color: #b4b8bc;
}
.a_hover:active {
  background-color: #9a9ea1;
}
.mainContent {
  font-size: 12px;
}
.showName {
  width: 115px;
}
.attribte_head {
  padding: 10px 0 0 23px;
  float: left;
}
.attribte_head span {
  float: left;
}
.fixed_head {
  width: 160px;
  height: 65px;
  float: left;
}
.float_head {
  width: auto;
  height: 65px;
}
.lable_name {
  background: no-repeat url('../../common/img/FormIcons.png') -1px -55px;
  margin-top: 1px;
  margin-left: 2px;
}
.file_name {
  background: no-repeat url('../../common/img/FormIcons.png') -37px -55px;
  margin-top: 1px;
  margin-left: 2px;
}
.split_line {
  background: no-repeat url('../../common/img/FormIcons.png') -37px -55px;
}
.add_row {
  background: no-repeat url('../../common/img/FormIcons.png') -1px -1px;
}
.add_cell {
  background: no-repeat url('../../common/img/FormIcons.png') -19px -1px;
}
.del_row {
  background: no-repeat url('../../common/img/FormIcons.png') -37px -1px;
}
.del_cell {
  background: no-repeat url('../../common/img/FormIcons.png') -55px -1px;
}
.del_cell {
  background: no-repeat url('../../common/img/FormIcons.png') -55px -1px;
}
.form_align_left {
  background: no-repeat url('../../common/img/FormIcons.png') -1px -19px;
}
.form_align_center {
  background: no-repeat url('../../common/img/FormIcons.png') -19px -19px;
}
.form_align_right {
  background: no-repeat url('../../common/img/FormIcons.png') -37px -19px;
}
.selRange_all {
  background: no-repeat url('../../common/img/FormIcons.png') -1px -73px;
}
.selRange_left {
  background: no-repeat url('../../common/img/FormIcons.png') -19px -73px;
}
.selRange_right {
  background: no-repeat url('../../common/img/FormIcons.png') -37px -73px;
}
.labelDirect_cell {
  background: no-repeat url('../../common/img/FormIcons.png') -55px -73px;
}
.labelDirect_row {
  background: no-repeat url('../../common/img/FormIcons.png') -73px -73px;
}
.readonly-unchoice {
  background: no-repeat url('../../common/img/FormIcons.png') -19px -37px;
}
.readonly-choice {
  background: #dedede no-repeat url('../../common/img/FormIcons.png') -1px -91px;
  border: solid 1px #c3c3c3;
  border-radius: 2px;
}
.mandatory-unchoice {
  background: no-repeat url('../../common/img/FormIcons.png') -55px -55px;
}
.mandatory-choice {
  background: #dedede no-repeat url('../../common/img/FormIcons.png') -19px -91px;
  border: solid 1px #c3c3c3;
  border-radius: 2px;
}
.parameter {
  background: no-repeat url('../../common/img/FormIcons.png') -37px -37px;
}
.fields_title {
  background: no-repeat url('../../common/img/FormIcons.png') -55px -37px;
}
.calculation {
  background: no-repeat url('../../common/img/FormIcons.png') -19px -55px;
}
.event_set {
  background: no-repeat url('../../common/img/FormIcons.png') -73px -37px;
}
.add_event {
  background: no-repeat url('../../common/img/FormIcons.png') -73px -55px;
}
/*tableSetting*/
#tableDataSetting {
  position: absolute;
  border: 1px solid #3078c0;
  width: 75%;
  height: 225px;
  bottom: 1px;
  left: 20%;
  display: none;
  background: #ffffff;
}
#tableDataSetting .row {
  margin: 0;
}
#tableDataSetting #settingTitle {
  height: 100%;
  float: left;
  width: 10%;
}
#tableDataSetting #settingContent {
  margin-top: 10px;
  float: right;
  width: 90%;
}
#tableDataSetting #settingButton {
  height: 30px;
}
#tableDataSetting .form-group {
  margin-bottom: 5px;
}
#tableDataSetting .form-group .input-group-addon {
  padding: 3px 10px;
  height: 25px;
  border-radius: 0px;
}
#tableDataSetting .form-group .form-control {
  height: 25px;
  padding: 0px 5px;
}
#tableDataSetting .input-group .form-control {
  z-index: 0;
}
#tableDataSetting .nav_left {
  width: 100px;
  float: left;
  margin-top: 5px;
}
#tableDataSetting .nav_left .nav > li > a {
  padding: 8px 15px;
}
#tableDataSetting .nav_content {
  margin-top: 5px;
  float: right;
}
#tableDataSetting .nav_content .dropdown {
  width: 100%;
  z-index: 3;
  height: 25px;
}
#tableDataSetting .nav_content .dropdown.open {
  z-index: 10;
}
#tableDataSetting .nav_content .open div {
  height: 160px;
}
#tableDataSetting .dropdown {
  width: 100%;
  z-index: 3;
  height: 25px;
}
#tableDataSetting .dropdown .open {
  z-index: 10;
  max-height: 160px;
}
#tableDataSetting .nav_button .btn {
  float: right;
  margin-right: 15px;
  padding: 3px 12px;
  outline: 0;
  zoom: 1;
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei" ! important;
}
ul li {
  list-style-type: none;
}
.left-nav {
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0;
  background: #cccccc;
}
.left-nav .drag {
  cursor: move;
  margin: auto;
}
.cloneDisplayObj .fa {
  width: 20px;
  font-size: 14px;
  margin-right: 25px;
}
.mainContent {
  width: 100%;
  float: right;
  position: relative;
  overflow: auto;
}
.mainContent .setProperties {
  border-bottom: solid 1px #ccc;
}
.mainContent .setProperties .hidden{
  display:none;
}
.mainContent .setProperties .btn-group .caret {
  margin-left: 5px;
}
.mainContent .setProperties .fa {
  margin-right: 5px;
}
.mainContent table {
  margin: 0 auto;
  table-layout: fixed;
}
.mainContent table td {
  border: 1px #e3e3e3 solid;
  height: 32px;
  line-height: 32px;
  font-size: 12pt;
  position: relative;
}
.mainContent table .clickTdSelect {
  border: 2px solid #1bbc9b;
}
.mainContent #pageShow,
.mainContent #pageNoNumberShow,
.mainContent #pageShowNoGoSHow,
.mainContent #pageHidenNoGoSHow {
  margin: 5px auto auto auto;
  width: 90%;
  table-layout: fixed;
  border: 1px #e3e3e3 solid;
  height: 32px;
  line-height: 32px;
  font-size: 12pt;
  position: relative;
  background-color: #edf3f4;
  display: none;
}
.mainContent .drag {
  margin: auto;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border: 2px solid SteelBlue;
  background-color: white;
  font-size: 10pt;
  /* needed for cloned object */
  /* round corners */
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animatedQuick {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes slideOutRight {
  0% {
    transtable: translateX(0px);
  }
  100% {
    opacity: 0;
    transtable: translateX(2000px);
  }
}
.slideOutRight {
  animation-name: slideOutRight;
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transtable: translateX(-2000px);
  }
  100% {
    transtable: translateX(0px);
  }
}
.slideInLeft {
  animation-name: slideInLeft;
}
.border-left-blue {
  border-left: 4px solid #2980b9 !important;
}
.border-left-light-blue {
  border-left: 4px solid #3498db !important;
}
.border-left-orange {
  border-left: 4px solid #e82c0c !important;
}
.border-left-light-orange {
  border-left: 4px solid #ff530d !important;
}
.border-left-red {
  border-left: 4px solid #d40d12 !important;
}
.border-left-light-red {
  border-left: 4px solid #ff1d23 !important;
}
.border-left-purple {
  border-left: 4px solid #8e44ad !important;
}
.border-left-light-purple {
  border-left: 4px solid #9b59b6 !important;
}
.border-left-pink {
  border-left: 4px solid #fe31ab !important;
}
.border-left-light-pink {
  border-left: 4px solid #fd32c0 !important;
}
.page_wn {
  list-style: none;
  line-height: 32px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #0165c7;
  font-family: "����";
  font-size: 12px;
}
.page_wn ul {
  display: inline;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.page_wn li {
  float: right;
  font-family: "����";
  margin-right: 5px;
  font-size: 12px;
  list-style: outside none none;
}
.page_wn .pageli {
  color: #aaaaaa;
}
.page_wn input {
  background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #7f9db9;
}
.page_wn input.INPUT_TEXT {
  border: 1px solid #c4c4c5;
  float: left;
  font-size: 14px;
  height: 24px;
  margin-top: -8px;
  padding-left: 2px;
}
.page_wn input,
.page_wn button,
.page_wn select,
.page_wn textarea {
  color: #5f5f5f;
  outline: medium none;
}
.page_wn input[name="submitgo"] {
  background: none repeat scroll 0 0 #0165c7;
  color: #ffffff;
}
.page_wn .submitgo {
  border: 0 none;
  cursor: pointer;
  height: 30px;
  margin-top: -8px;
  padding-bottom: 2px;
  width: 30px;
}
.page_wn span {
  margin-left: 5px;
  font-size: 12px;
  list-style: outside none none;
}
.page_wn .pageStyle {
  height: 24px;
}
.whowContent {
  box-shadow: 5px 5px 3px #c3c5c7;
  margin-top: 20px;
  width: 96%;
  margin-left: 2%;
}
.whowContent .showHead {
  border: 1px solid #ccc;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  padding-bottom: 10px;
}
.whowContent .showHead h1 {
  padding-left: 30px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 230px;
}
.tableShow {
  border: 1px solid #ccc;
  background-color: #fff;
  padding-bottom: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  padding-bottom: 20px;
  overflow: auto;
}
.showHead .btn-group-show {
  color: #000000;
  position: absolute;
  right: 5%;
  top: 15px;
  z-index: 5;
  border: 1px solid #a7acb1;
  border-radius: 2px;
  width: 133px;
}
.showHead .btn-group-show .btn-primary {
  background-color: #e6e8e8;
  border: none;
  color: #565c71;
  padding: 4px 17.5px;
}
.showHead .btn-group-show .dropdown-menu {
  margin: 0;
  min-width: 0px;
}
.showHead .btn-group-show .dropdown-menu li > a {
  padding: 1px 10px;
}
