
body {
    overflow: hidden;
    padding: 8px;
}
ul, li, p {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.Cag-left {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    bottom: 8px;
    float: left;
    font-size: 12px;
    padding: 0 1% 10px;
    position: absolute;
    top: 8px;
    width: 25%;
}
.Cag-left h3 {
    color: #428bca;
    font-size: 12px;
}
.Cag-left h3 b {
    color: #666;
}
.Cag-leftList {
    border-top: 2px solid #cedced;
    height: calc(100% - 35px);
}
.Cag-leftList li {
    border-bottom: 1px solid #eeeff1;
    padding: 12px 0 12px 5px;
}
.Cag-leftList li:hover {
    background: #f2f3f4 none repeat scroll 0 0;
    cursor: pointer;
}
.Cag-leftList li.curr {
    background: #d6e4f4 none repeat scroll 0 0;
}
.Cag-leftList li p {
    color: #5b5b5b;
}
.Cag-leftList li span {
    color: #428bca;
}
.Cagpic-right {
    float: right;
    width: 71%;
}
.Cagpic-Rbox {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    bottom: 50px;
    left: 29%;
    padding-bottom: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
}
.Cagpic-Rbox #modeler {
    position: absolute;
    width: 100%;
}
.Cagpic-Btn {
    bottom: 10px;
    left: 55%;
    margin: 10px auto 0;
    position: absolute;
    width: 220px;
}
.Cagpic-Btn input {
    background: #38b1eb none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    padding: 3px 20px;
}
.Cagpic-Btn input.xq {
    background: #38b1eb none repeat scroll 0 0;
}
.Cagpic-Btn input.gb {
    background: #edf4f7 none repeat scroll 0 0;
    color: #666;
}
.Cagpic-Btn input.xq:hover {
    background: #0c90db none repeat scroll 0 0;
}
.Cagpic-Btn input.gb:hover {
    background: #d2d9dc none repeat scroll 0 0;
}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -15px;
}
.Cagpic-search{
	border:1px solid #d5d9df;
	float:right;
	height:24px;
	line-height:24px;
	margin-top:-4px;
	border-radius:3px;
	width:150px;
}
.Cag-left h3 i{
	color:#b1b1b1;
	font-weight:400;
	position:absolute;
	cursor:pointer;
	right:5%;
	top:12px;
}