.icon-arrow{
    color: #fff;
}
.icon-bonus{
    color: #f5c5ac;
}
.icon-decrease{
    color: #fa6464;
}
.icon-diet{
    color: #f4b8c2;
}
.icon-frees{
    color: #ddcde3;
}
.icon-his_begin{
    color: #f87e4e;
}
.icon-his_deliver{
    color: #fad205;
}
.icon-his_singleDeliver{
    color: #fad205;
}
.icon-his_pass{
    color: #abe609;
}
.icon-his_checked{
    color: #abe609;
}
.icon-his_pay{
    color: #abe609;
}
.icon-his_reject{
    color: #fa6464;
}
.icon-hotel{
    color: #b6cce1;
}
.icon-loan{
    color: #b5ddcc;
}
.icon-longdistance{
    color: #c0e4ec;
}
.icon-office{
    color: #eedbb4;
}
.icon-petrol{
    color: #d6cfab;
}
.icon-pass{
    color: #e8b017;
}
.icon-pay{
    color: #c9dd80;
}
.icon-checked{
    color: #c9dd80;
}
.icon-inprocess{
    color: #e8b017;
}
.icon-singleDeliver{
    color: #e8b017;
}
.icon-uncommitted{
    color: #e6e6e6;
}
.icon-reject{
    color: #ea6177;
}
.icon-plus{
    color: #bababa;
}
.icon-right_check{
    color: #5fb875;
}
.icon-right_pay{
    color: #f4c21c;
}
.icon-tick{
    color: #add04f;
}
.icon-transport{
    color: #a9d3ac;
}
.icon-addarecorder{
    color:#fff;
}
.icon-his_paid{
    color:#ed7a4d;
}
.icon-paid{
    color:#b5d345;
}
.icon-process2{
    color:#f5c027;
}
.icon-right_pay2{
    color:#f4c21c;
}
.icon-undefined{
    color:#e6e6e6;
}
.icon-unpaid{
    color:#f5c027;
}
.icon-right_pay3{
    color:#f5c027;
}
.icon-conference{
    color:#b1e0f2;
}
.icon-education{
    color:#f4edb0;
}
.icon-electric{
    color:#beb2ed;
}
.icon-express{
    color:#aef4b8;
}
.icon-gift{
    color:#fbcaad;
}
.icon-human{
    color:#b1e4ef;
}
.icon-overtime{
    color:#b1c0f2;
}
.icon-repair{
    color:#b1f2cb;
}
.icon-activity{
    color:#beb2ed;
}
.icon-advertis{
    color:#beb2ed;
}
.icon-express2{
    color:#beb2ed;
}

