/*============多选样式一（类似于查询页面中的添加关注页面）begin===========================*/
.option-div {
	width: 150px;
	height: 32px;
	position: relative;
	border: 1px solid #ddd;
	line-height: 32px;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	display:inline-block;
	margin-right:30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px 5px;
	
}
.option-div.selected {
	border: 1px solid #418bac;
}
.option-div .i{
	display:none;
	position:absolute;
	bottom:-3px;
	right:-3px;
	color:#418bac;
	font-size:25px;
	margin-right:0px;
}
.option-div.selected {
	border: 1px solid #418bac;
	color:#418bac;
}
.option-div.selected .i{
	display:block;
}

/*============多选样式一（类似于查询页面中的添加关注页面）end===========================*/

/*============多选样式二（类似于办公页面中的添加关注页面）begin=========================*/
.info-title {
	height: 40px;
	line-height: 40px;
	color: #418bac;
	font-size: 16px;
	margin-left: 10px;
}
.info-box-div {
	padding: 0px 35px;
}

.info-box {
    min-height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    background: #F9F9F9;
    margin-bottom: 35px;
}

.info-box-icon {
    display: block;
    float: left;
    height: 68px;
    width: 56px;
    text-align: center;
    font-size: 30px;
    line-height: 68px;
    color: #418bac;
	margin-top: 2px;
}
.info-box-content {
	display: flex;
	align-items: center;
    padding: 5px 13px 5px 0px;
    margin-left: 0px;
    height: 68px;
}
.info-box-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-text-span {
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
}
.info-box:hover {
	border: 1px solid #418bac;
	cursor: pointer;
	background: #fff;
}

.info-box-icon-circle {
	display: block;
	float: left;
	width: 66px;
	height: 68px;
	line-height: 68px;
}

.info-box-icon-circle .i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-top: 15px;
	margin-left: 13px;
	border-radius: 30px;
	font-size: 22px;
	text-align: center;
	color: #fff;
}
.info-box-add {
    padding: 5px 10px;
    height: 68px;
    text-align: center;
}
.info-box-add .btn-add {
    line-height: 58px;
    font-size: 35px;
    color: #418bac;
}
.box-hover {
    min-height: 70px;
    width: 100%;
    display: none;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    padding: 0px 30px;
}
.box-hover-content {
    min-height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    background: #7D7D7D;
    opacity: 0.8;
 
}

.info-box-div:hover .box-hover {
	display: block;
}
.box-hover .opt-btn {
    color: #418bac;
    font-size: 18px;
    cursor: pointer;
    background: white;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin: 15px 15px;
}

.box-unselect .info-box-icon,
.box-unselect .info-box-text{
	color:#666;
}


/*============多选样式二（类似于办公页面中的添加关注页面）end===========================*/