<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<style type="text/css">
			.root{
				width: 100%;
				overflow: hidden;
				text-align: center;
				margin: 150px auto;
			}
			.imgwrap{
				margin: 0 auto;
			}
			.title{
				color: #929292;
			}
		</style>
	</head>
	<body>
		<div class="root">
			<div class="imgwrap"><img src="/factor/component/ncfgroup/img/over.png"/></div>
			<div class="title">绑定成功</div>
		</div>
	</body>
<script>
    localStorage.setItem('bankStatus',true);
</script>
</html>
