<div class="hwapper">
	<div class="title-outer">
		<h1>房产估价预评报告</h1>
	</div>
	<p>致：河南顺毅市场管理有限公司</p>
	<div class="table-outer">
		<table class="width_100" cellpadding="0" cellspacing="0">
			<tr>
				<th class="td_10">估价机构</th>
				<td class="td_90" colspan="3"><p class="inser-p">房讯通</p></td>
			</tr>
			<tr>
				<th class="td_10">房屋坐落</th>
				<td class="td_45"><p class="inser-p">${city!'-'}</p></td>
				<th class="td_10">小区名称</th>
				<td class="td_45"><p class="inser-p">${comName!'-'}</p></td>
			</tr>
			<tr>
				<th class="td_10">所有权人</th>
				<td class="td_90" colspan="3">
					<table class="inner-tabel" cellpadding="0" cellspacing="0">
						<tr>
							<td class="td_30"><p class="inser-p"></p></td>
							<th class="td_10">房产证编号</th>
							<td class="td_20"><p class="inser-p"></p></td>
							<th class="td_10">登记时间</th>
							<td class="td_30"><p class="inser-p"></p></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<th class="td_10">房屋总层数</th>
				<td class="td_90" colspan="3">
					<table class="inner-tabel">
						<tr>
							<td class="td_30"><p class="inser-p">${totalFloor!'-'}</p></td>
							<th class="td_10">所在层数</th>
							<td class="td_30"><p class="inser-p">${floor!'-'}</p></td>
							<th class="td_10">结构</th>
							<td class="td_30"><p class="inser-p">${jiegou!'-'}</p></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<th class="td_10">设计用途</th>
				<td class="td_45"><p class="inser-p">${houseType!'-'}</p></td>
				<th class="td_10">建筑面积</th>
				<td class="td_45"><p class="inser-p">${area!'-'}平方米</p></td>
			</tr>
			<tr>
				<th class="td_10">估价目的</th>
				<td class="td_90" colspan="3"><p class="inser-p">${nodeName!'-'}</p></td>
			</tr>
			<tr>
				<th class="td_10">估价时点</th>
				<td colspan="3"><p class="inser-p">${regDate!''} ${regTime!''}</p></td>
			</tr>
			<tr>
				<th class="td_10">估价类型</th>
				<td colspan="3"><p class="inser-p">价值类型     房地产抵押价值价对象假定未设立法定优先受偿权下的价值 减去注册房地产估价师知悉的法定优先受偿款后的价值。</p></td>
			</tr>
			<tr>
				<th class="td_10"><p class="shupai">估价依据</p></th>
				<td colspan="3">
					<div class="inner-div">
						<p>估价依据</p>
						<p class="indent_2">1、本次估价所依据的有关法律、法规和部门规章</p>
						<p class="indent_2">（1）《中华人民共和国城市房地产管理法》（2007年8月30日中 华人民共和国主席令第72号公布）；</p>
						<p class="indent_2">（2）《中华人民共和国土地管理法》（2004年8月28日第十届全 国人民代表大会常务委员会第十一次会议修订）；</p>
						<p class="indent_2">（3）《中华人民共和国担保法》（1995年6月30日中华人民共和 国主席令第50号公布）；</p>
						<p class="indent_2">（4）《中华人民共和物权法》（2007年3月16日中华人民共和国 主席令第62号公布）；</p>
						<p class="indent_2">（5）《城市房地产抵押管理办法》（2001年8月15日建设部令第. 98号发布）。</p>
						<p class="indent_2">2、本次估价采用的规程、规范、技术标准 </p>
						<p class="indent_2">（1）中华人民共和国国家标准《房地产估价规范》（GB/T50291-1999）</p>
						<p class="indent_2">（2）建设部、中国人民银行、中国银行中国银行业监督管理委员会联合颁布的《房地产抵押估价指导意见》（2006年1月13日建筑房【2006】8号）</p>
						<p class="indent_2">（3）中华人民共和国国家标准《房地产估价基本术语标准》（GB/T50899-2013）。	</p>
						<p class="indent_2">3、估价委托人提供的有关资料</p>
						<p class="indent_2">（1）《房屋所有权证》复印件[郑房权证字第1501148565号]</p>
						<p class="indent_2">（2）其他有关资料。</p>
						<p class="indent_2">4、房地产估价机构及注册房地产估价师掌握和收集的有关资料。 </p>
						<p class="indent_2">（1）注册房地产估价师实地查勘所得资料；</p>
						<p class="indent_2">（2）注册房地产估价师市场调查搜集的资料。</p>
					</div>
				</td>
			</tr>
			<tr>
				<th><p class="shupai">估价原则</p></th>
				<td colspan="3">
					<div class="inner-div">
						<p>估价依据</p>
						<p class="indent_2">本次估价遵守独立、客观、公正、合法、谨慎的原则及最高最佳 利用原则、价值时点原则、替代原则等技术性原则。</p>
						<p class="indent_2">1、独立、客观、公正原则</p>
						<p class="indent_2">要求站在中立的立场上，实事求是、公平正直地评估出对各方估 价利害关系人均是公平合理的价值或价格的原则。</p>
						<p class="indent_2">2、合法原则</p>
						<p class="indent_2">要求估价结果是在依法判定的估价对象状况下的价值或价格的原则。</p>
						<p class="indent_2">3、价值时点原则</p>
						<p class="indent_2">要求估价结果是在根据估价目的确定的某一特定时间的价值或价格的原则。</p>
						<p class="indent_2">4、替代原则</p>
						<p class="indent_2">要求估价结果与估价对象的类似房地产在同等条件下的价值或价格偏差在合理范围内的原则。</p>
						<p class="indent_2">5、最高最佳利用原则</p>
						<p class="indent_2">要求估价结果是在估价对象最高最佳利用状况下的价值或价格的原则</p>
						<p class="indent_2">6、谨慎原则</p>
						<p class="indent_2">要求在影响估价对象价值或价格的因素存在不确走性的情况下对 其作出判断时’应充分考虑其导致估价对象价值或价纖的一面， 慎重考虑其导致估价对象价值或价格偏高的一面的原则。</p>
					</div>
				</td>
			</tr>
			<tr>
				<th><p class="shupai">估价方法</p></th>
				<td colspan="3">
					<div class="inner-div">
						<p>估价方法</p>
						<p class="indent_2">(根据《房地卢估价规范》，在房地产估价中，应根据估价目的及估 价对象的特点，分别釆取不同的估价方法，估价方法通常有比较法、 收益法、成本法、假设开发法四种。比较法适用于同类房地产交易案 例较多的房地产估价；收益法适用于有收益或潜在收益性的房地产估 价；成本法适用于无市场依据或市场依据不充分且不适宜采用比较法— 收益法进行估价的情况下；假设开发法适用于具有开发或再开发潜力的房地产估价。</p>
						<p class="indent_2">估价对象规删途为成套住宅，经注册房地产估价师调查市场上类似房地产租金普遍较低，不足以反映估价对象价值，故本次不宜采用收益法进行评估；由于估价委托人能够提供的资料有 法所需的基础数据不易获取，故本次也不宜采用成本估价法进行估价。根据最高最佳利用分析，估价对象按现状持续利用估价前提，故本次也不宜采用假设开发法进行估价。</p>
						<p class="indent_2">本次估价对象为住宅房地产，考虑到估价对象所处区域房地产市场较活跃，可收集到相关可比实例，故本次采用比较法估价。先根据比较法的估价结果综合确定假设未设定法定优先受偿权利下的市场价值，然后再减去注册房地产估价师知悉的法定优先受偿款来确定估价对象于价值时点的抵押价值。</p>
						<p class="indent_2">比较法：选取一定数量的可比实例，将他们与估价对象进行比较，根据其间的差异对可比实例成交价格进行处理后得到估价对象价值或价格的方法。</p>
					</div>
				</td>
			</tr>
			<tr>
				<th><p class="line-h24">房地产抵押报告使用提示</p></th>
				<td colspan="3">
					<div class="inner-div">
						<p class="indent_2">1、估价对象状况和房地产市场状因时间变化对房地产抵押价值 可能产生影响，在估价对象实物及区域因素不受意外损害，能正常维 护使用，且未增加法定优先受偿款，房地产市场没有较大波动情况下， 预计估价报告使用期限内，房地产抵押价值基本保持稳定。</p>
						<p class="indent_2">2、对抵押期间可能产生的房地产信贷风险，估价报告使用者应给 予关注：估价对象可能会由于房屋现状变更、环境变化以及房地产市 场价格波动、房地产税费调整等原因导致房地产抵押价值减损。</p>
						<p class="indent_2">3、估价报告使用者应合理使用评估价值，关注处置房地产时快速 变现及费用的影响，房地产抵押估价报告出具后至抵押登记之间，是 否会出现法定优先受偿权利。</p>
						<p class="indent_2">4、本次估价目的为抵押贷款，评估采用基于市场的价值标准，但 报告使用人应考虑未来市场变化和短期强制处置等因素，同时应考虑 抵押物拍卖变现值低于市场价格的可能”</p>
						<p class="indent_2">5、定期或者在房地产市场价格变化较快时对房地产抵押价值进行 再评估。</p>
					</div>
				</td>
			</tr>
			
			<tr>
				<th class="td_10">估价结果</th>
				<td class="td_45"><p class="inser-p"></p></td>
				<th class="td_10">评估单价</th>
				<td class="td_45"><p class="inser-p">${unitPrice!"0"}元</p></td>
			</tr>
			<tr>
				<th class="td_10">评估总价</th>
				<td class="td_45"><p class="inser-p">${totalPrice!"0"}元</p></td>
				<th class="td_10">快速变现值</th>
				<td class="td_45"><p class="inser-p">-</p></td>
			</tr>
		</table>
	</div>
	<div class="bottom-div">
		<p class="bottom-p clearfix">
			<span>河南平行仓信息科技有限公司</span>
		</p>
		<p class="bottom-p clearfix">
			<span>时</span><font class="width-25">${hour}</font>
			<span>日</span><font class="width-25">${day}</font>
			<span>月</span><font class="width-25">${month}</font>
			<span>年</span><font class="width-50">${year}</font>
		</p>
	</div>
</div>
