	html,
	body {
		height: 100%;
		width: 100%;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}
	
	.node {
		cursor: pointer;
	}
	
	.node:hover circle {
		transform: scale(1.2);
	}
	
	.node:hover text {
		color: #000 !important;
		font-weight: bold !important;
		font-size: 15px !important;
	}
	
	ul,
	li {
		list-style: none;
	}
	
	.mao-main {
		width: 100%;
		height: 100%;
		margin: 0px auto;
		display: block;
	}
	/*右边显示工具*/
	
	.mao-toolbar {
		position: absolute;
		width: 50px;
		right: 30px;
		bottom: 50px;
		font-size: 18px;
		color: #5e89d7;
		z-index: 20;
	}
	
	.mao-toolbar ul {
		width: 50px;
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
		margin-top: 8px;
		border: 1px solid #5e89d7;
		-webkit-box-shadow: 0 0 10px rgba(94, 137, 215, .5);
		-moz-box-shadow: 0 0 10px rgba(94, 137, 215, .5);
		box-shadow: 0 0 10px rgba(94, 137, 215, .5);
	}
	
	.mao-toolbar ul>li {
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		box-sizing: border-box;
	}
	
	.mao-toolbar ul>li:not(:first-child) {
		border-top: 1px solid #5e89d7;
	}
	
	.mao-toolbar ul>li:hover {
		background: #5e89d7;
		color: #fff;
	}
	
	:-webkit-full-screen.mao-screen-area {
		width: 100%;
		height: 100% !important;
		background: #fff;
	}
	
	.mao-screen-area {
		width: 100%;
		height: 100%;
		background: #fff;
		position: relative;
	}
	
	.mao-main svg {
		width: 100%;
		height: 100%;
	}